<!doctype html>
<html>
  <head>
    <title><%= shopName %> - Search</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Search Page</h1>
    <form action="/search_result" method="GET">
    <input id="search_box" type="text" name="search_text" placeholder="Enter keyword">
    <input id="category_box" type="text" name="category" placeholder="Enter category">
    <input type="submit" value="OK">
    </form>

    <p>Here you can implement a search form later!</p>
  </body>
</html>